<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/techforlinemain/css/vendor/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/techforlinemain/css/vendor/bootstrap-theme.min.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('index') }}">
                    Freelance admins
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('login') }}">Login</a>
                    </li>
                    <li>
                        <a href="{{ path('user_registration') }}">Registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script src="{{ asset('bundles/techforlinemain/js/vendor/jquery-2.2.0.min.js') }}"></script>
        <script src="{{ asset('bundles/techforlinemain/js/vendor/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>
</html>