{% extends 'TechforlineMainBundle:Default:base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('add_order') }}" class="btn btn-lg btn-success">Add order</a>
                {% if orders %}
                    <h1>Last orders</h1>
                    {% for order in orders %}
                        <h2>{{ order.title }}</h2>
                        <p>{{ order.description }}</p>
                        <small>{{ order.cost }}</small>
                        <small>{{ order.createdAt|date('Y-m-d') }}</small>
                            <small>
                                {% for payf in order.payForm %}
                                    {{ payf.title }}
                                {% endfor %}
                            </small>

                        <br>
                    {% endfor %}
                {% else %}
                    <h2>No orders yet!</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
